/home/{{web_user}}/log/nginx-access.log /home/{{web_user}}/log/nginx-error.log {
    create 0644 www www
    daily
    missingok
    rotate 52
    compress
    delaycompress
    notifempty
    sharedscripts
    prerotate
            if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                    run-parts /etc/logrotate.d/httpd-prerotate; \
            fi; \
    endscript
    postrotate
            [ ! -f /var/run/nginx.pid ] || kill -USR1 `cat /var/run/nginx.pid`
    endscript
}